header.header
    .headermiddle
        .wrap.flex-space
            .logo.headermiddle__logo
                a(href="/index.html")
                    img(src="images/logo.svg", alt="s-stoi-nn")
                span Строительство домов из бруса
            .headermiddle__city.flex-column
                a.link.headermiddle__city-chouse(href="#") Нижний Новгород
                span.headermiddle__text Мы работаем по городу<br>и области
            .headermiddle__button
                a.button.button_view-action(onclick="document.getElementById('id03').style.display='block'" style="width:auto;") Заказать замер
            .flex-column
                span.headermiddle__tel-1 +7 (831) 413-76-72
                span.headermiddle__tel-2 +7 (920) 298-32-71 
                a.cursor.headermiddle__feedback.link_view-orange(onclick="document.getElementById('id03').style.display='block'" style="width:auto;") заказать обратный звонок
                // feedback_modal
                .modal#id03
                    span.modal__close(onclick="document.getElementById('id03').style.display='none'" title="Close Modal") &times
                    .feedback.flex-space.wrap.gap-vertical.flex-center
                        form(action="feedback.php").form.column-4
                            .form__header.feedback__header Связаться с нами
                            .form__footer
                                .flex-space
                                    .flex-column.column-3
                                        label.label(for="name") Ваше имя
                                        input.input.feedback__width(type="text" id="name")
                                    .flex-column.column-3
                                        label.label(for="email") Ваш email
                                        input.input(type="text" id="email")
                                label.label(for="subject") Тема обращения
                                input.input(type="text" id="subject")
                                label.label(for="text") Текст
                                textarea.input(type="text" id="text")
                                button.button.button_view-action(type="submit") Отправить
                span.headermiddle__time время работы: круглосуточно
    .headerbottom
        .wrap
            .headerbottom__right.flex-center
                a(href="/#").dropdown__button.headerbottom__link О НАС
                a(href="/#").dropdown__button.headerbottom__link ПРЕИМУЩЕСТВА
                a(href="/#").dropdown__button.headerbottom__link ПРИМЕРЫ РАБОТ
                a(href="/#").dropdown__button.headerbottom__link СТОИМОСТЬ
                a(href="/#").dropdown__button.headerbottom__link ОТЗЫВЫ