mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title О нас
		//css
		link(rel="stylesheet" href="css/style.min.css")
		//fonts
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		// Favicon
		link(href="images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		// animate css
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		script(src="js/wow.min.js")
		script.
			new WOW().init();

	body.body
		//header
		include blocks/header.pug
		//content
		.content
			//slider
			.main-slider.js-main-slider
					.main-slider__i(style="background-image:url(images/slider/slide1.jpg);")
						.wrap.main-slider__i-wrap.flex-center
							.main-slider__i-text
								span СТРОИТЕЛЬСТВО ДОМОВ ИЗ<br>ОЦИЛИНДРОВАННОГО БРЕВНА
								p Наша цель проста - предоставить нашим клиентам высокий уровень качества и сервиса.<br>Мы верим, что отличные идеи начинаются с точного расчета.
								a(href="#").button.button_view-reverse Подробнее
					.main-slider__i(style="background-image:url(images/slider/slide2.jpg);")
						.wrap.main-slider__i-wrap.flex-center
							.main-slider__i-text2
								span СТРОИТЕЛЬСТВО ДОМОВ ИЗ БРУСА<br>СО СВОИМ ПРОИЗВОДСТВОМ
								p Наша цель проста - предоставить нашим клиентам высокий уровень качества и сервиса.<br>Мы верим, что отличные идеи начинаются с точного расчета.
								a(href="#").button.button_view-reverse Подробнее
			//advantages
			.advantages.flex-space.wrap
				.advantages__item.fadeInRight.animated.wow.col-4
					.advantages__img
						img(src="images/medal.png", alt="medal")
					.advantages__title
						h3 ВЫСОЧАЙШЕЕ КАЧЕСТВО
					.advantages__text
						p Собственное производство позволяет нам предоставить вам высочайшее качесвто строительства при низких ценах
				.advantages__item.fadeInRight.animated.wow.col-4
					.advantages__img
						img(src="images/speed.png", alt="speed")
					.advantages__title
						h3 СКОРОСТЬ ОБРАБОТКИ ЗАЯВОК
					.advantages__text
						p Наша команда быстро ответит на все ваши вопросы, поможет расчитать и подобрать проект
				.advantages__item.fadeInRight.animated.wow.col-4
					.advantages__img
						img(src="images/money.png", alt="money")
					.advantages__title
						h3 ГИБКАЯ ЦЕНОВАЯ ПОЛИТИКА
					.advantages__text
						p Мы индивидуально рассматриваем каждое обращение к нам и помогаем подобрать проект в зависимости от ваших финансовых возможностей
		





		// footer
		.body__footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'main.js', 'slick.min.js', 'calculator.js', 'form.js'])