mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Стоимость работ
		//css
		link(rel="stylesheet" href="css/style.min.css")
		//fonts
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		// Favicon
		link(href="images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		// animate css
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		script(src="js/wow.min.js")
		script.
			new WOW().init();

	body.body
		//header
		include blocks/header.pug
		//content
		.content
		// footer
		.body__footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'main.js', 'slick.min.js', 'calculator.js', 'form.js'])