mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Типография онлайн "Online print"
		//css
		link(rel="stylesheet" href="css/style.min.css")
		//fonts
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		// Favicon
		link(href="images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		// animate css
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		script(src="js/wow.min.js")
		script.
			new WOW().init();

	body.body
		//header
		include blocks/header.pug
		//content
		.content
			.content__delevery.wrap.gap-vertical
				h1 Доставка
				h2 Доставка по Нижнему Новгороду и области:
				p На данный момент мы осуществляем доставку только по Нижнему Новгороду. В зависимости от веса продукции доставка осуществляться автомобильным транспортом, либо курьером.
				ul
					li Стоимость доставки продукции весом до 5 кг. — 400 рублей
					li Стоимость доставки продукции весом более 5 кг. — 1400 рублей
				p Доставка осуществляется в рабочие дни с 10 до 19 часов. При стоимости заказа более 30 тыс. рублей — доставка в пределах Нижнего Новгорода бесплатно.
				h2 Самовывоз по Нижнему Новгороду
				p Вы также можете забрать товар из нашего офиса, не переплачивая за доставку. Наш офис находится по адресу г. Нижний Новгород, ул. проспект Гагарина 178. Схему проезда к нашему офису вы сможете найти в разделе контактная информация.
				h2 Доставка по России
				p Доставка по России осуществляется транспортной компанией по Вашему адресу. Посылки не мнутся, не подвергаются внешним воздействиям. Стоимость отправки в Ваш регион считается автоматически и зависит от массы и почтовой зоны места назначения.

			//advantages
			.advantages.bgc-grey
				.wrap.flex-space
					.advantages__item.fadeInRight.animated.wow
						.advantages__img
							img(src="images/medal.png", alt="medal")
						.advantages__title
							h3 ВЫСОЧАЙШЕЕ КАЧЕСТВО
						.advantages__text
							p Наше оборудование позволяет нам предоставить вам высочайшее качесвто печати при низких ценах
					.advantages__item.fadeInRight.animated.wow
						.advantages__img
							img(src="images/speed.png", alt="speed")
						.advantages__title
							h3 СКОРОСТЬ ПЕЧАТИ
						.advantages__text
							p Наш штат менеджеров более 30 человек, поэтому мы вовремя обработаем ваш заказ
					.advantages__item.fadeInRight.animated.wow
						.advantages__img
							img(src="images/money.png", alt="money")
						.advantages__title
							h3 СКИДКИ ДЛЯ ПАРТНЁРОВ
						.advantages__text
							p Больше тиражей - больше партнерская скидка! Система скидок в личном кабинете партнера.
		// footer
		.body__footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'main.js', 'slick.min.js', 'calculator.js'])
		