mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Типография онлайн "Online print"
		//css
		link(rel="stylesheet" href="css/style.min.css")
		//fonts
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		// Favicon
		link(href="images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		// animate css
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		script(src="js/wow.min.js")
		script.
			new WOW().init();

	body.body
		//header
		include blocks/header.pug
		//content
		.content
			//slider
			.content__demans.wrap.gap-vertical
				h1 Технические требования
				h2 Прием файлов:
				p Вы можете предоставить макеты на носителях: CD/DVD, Flash/hdd-накопителях; прислать по почте вложенным письмом или предоставить ссылку на файлообменник, а также загрузить на наш FTP (данные о подключении вы можете получить у менеджера или в препресс-отделе). На съемных носителях записывайте только файлы, предназначенные для печати. Не рекомендуем использовать файлообменные сети, требующие регистрации премиум- аккаунтов, из-за ограничений по скорости загрузки. Например, rapidshare.com, depositfile.com, letitbit.com, rusfolder.com и т.п. В последнее время хорошо себя зарекомендовали облачные хранилища данных: dropbox, яндекс.диск, onedrive и другие подобные - в данном случае достаточно сделать файл публиным и выслать на него ссылку. Пример подготовки ссылок на dropbox и яндекс.диск:
				h2 Какие форматы принимаем:
				p 1 – Многостраничные: только PDF. <br>Требования и рекомендации по подготовке смотрите в разделе “требования к многостраничной продукции“. <br>2 – Не более двух полос: PDF, AI, EPS, TIFF, PSD, CDR: В формате PDF вы можете также предоставить готовый спуск. При этом изображение должно располагаться по центру, без технической информации. Хотим обратить внимание на формат CDR программы Corel Draw - на данный момент он является наиболее частой причиной ошибок при подготовке макетов в печать. Чтобы избежать проблем с этим форматом: <br>— Переводите весь текст в кривые, чтобы избежать проблем с текстом. <br>— Если вы используете команды подменю “Symbol“, инструменты эффектов, такие как прозрачности, тени, градиенты и т.п., то следует преобразовать итоговый результат в растровое изображение. Это правило распространяется и на обтравленные изображения и все элементы, повергнутые такой обработке. В противном случае, результат может быть непредсказуемым, вплоть до исчезновения объектов с макета или подменой их произвольными геометрическими фигурами. <br>— Не присваивайте нулевые значения эффектам, т.к. при растрировании это приведет к сильному ухудшению качества. <br>— При использовании инструмента Barcode, будьте внимательны с размерами, т.к. есть вероятность произвольного масштабирования. <br>— Используйте стабильную версии программы, а также своевременно устанавливайте пакеты обновлений. Не принимаем макеты: <br>— форматы Microsoft Office, <br>— Adobe Indesign, Quark Xpress.

								
	
		// footer
		.body__footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'main.js', 'slick.min.js', 'calculator.js'])
		