mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Строительство домов из дерева
		//css
		link(rel="stylesheet" href="css/style.min.css")
		//fonts
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		// Favicon
		link(href="images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		// animate css
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		script(src="js/wow.min.js")
		script.
			new WOW().init();

	body.body
		//header
		include blocks/header.pug
		//content
		.content
			//slider
			.main-slider.js-main-slider
					.main-slider__i(style="background-image:url(images/slider/slide1.jpg);")
						.wrap.main-slider__i-wrap.flex-center
							.main-slider__i-text
								span СТРОИТЕЛЬСТВО ДОМОВ ИЗ<br>ОЦИЛИНДРОВАННОГО БРЕВНА
								p Наша цель проста - предоставить нашим клиентам высокий уровень качества и сервиса.<br>Мы верим, что отличные идеи начинаются с точного расчета.
								a(href="#").button.button_view-reverse Подробнее
					.main-slider__i(style="background-image:url(images/slider/slide2.jpg);")
						.wrap.main-slider__i-wrap.flex-center
							.main-slider__i-text2
								span СТРОИТЕЛЬСТВО ДОМОВ ИЗ БРУСА<br>СО СВОИМ ПРОИЗВОДСТВОМ
								p Наша цель проста - предоставить нашим клиентам высокий уровень качества и сервиса.<br>Мы верим, что отличные идеи начинаются с точного расчета.
								a(href="#").button.button_view-reverse Подробнее
			//advantages
			.advantages.wrap.row
				.advantages__item.fadeInRight.animated.wow.col
					.advantages__img
						img(src="images/medal.png", alt="medal")
					.advantages__title
						h5 ВЫСОЧАЙШЕЕ КАЧЕСТВО
					.advantages__text
						p Собственное производство позволяет нам предоставить вам высочайшее качесвто строительства при низких ценах
				.advantages__item.fadeInRight.animated.wow.col
					.advantages__img
						img(src="images/speed.png", alt="speed")
					.advantages__title
						h5 СКОРОСТЬ ОБРАБОТКИ ЗАЯВОК
					.advantages__text
						p Наша команда быстро ответит на все ваши вопросы, поможет расчитать и подобрать проект
				.advantages__item.fadeInRight.animated.wow.col
					.advantages__img
						img(src="images/money.png", alt="money")
					.advantages__title
						h5 ГИБКАЯ ЦЕНОВАЯ ПОЛИТИКА
					.advantages__text
						p Мы индивидуально рассматриваем каждое обращение к нам и помогаем подобрать проект в зависимости от ваших финансовых возможностей

			//description
			.bgc-grey.padding-v-80
				.description.wrap
					.description__title.margin-v-60
						h1 Дома из бруса - долговечны и красивы
						p На сайте вы можете ознакомиться с различными проектами рубленных домов<br> или разработать свой уникальный проект, совместно с нашими архитекторами. Ждем вас!
					.flex-space
						.col-5.description__img.fadeInLeft.animated.wow
							img.border-shdw(src="images/description.jpg", alt="description")
						.col-7.description__text.fadeInRight.animated.wow
							h3 У нас вы можете закзать дома из бруса
							p Наша строительная компания - одна из тех немногих, которые возводят рубленные дома исключительно из высококачественного материала. Для строительства бревенчатых домов мы используем разные породы дерева. Заказывая у нас рубленные дома под ключ, вы получаете самое высокое качество древесины.
							.button.button_view-action Расчет стоимости			
			//projects
			.projects
				.wrap
					.projects__title.flex-center
						h1.projects__h1 Несколько проектов из нашей коллекции
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 252 252" style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g fill="#159493"><g id="surface1"><path d="M220.5,52.5l-15.75,-15.75l-78.75,77.97071l-78.75,-77.97071l-15.75,15.75l94.5,94.5z"></path><path d="M220.5,120.75l-15.75,-15.75l-78.75,78.36035l-78.75,-78.36035l-15.75,15.75l94.5,94.5z"></path></g></g></g></svg>
					.projects__item.flex-space.margin-v-80.flex-wrap
						.projects__description.col-4.fadeInLeft.animated.wow
							span.project__name Проект № 1
							.margin-v-20.flex-space.flex-vertical
								.wrapeer
									img.project__img(src="images/projects/blueprint.png", alt="blueprint")
									span.project__spantext Площадь:
								sapn.project__spannum 60 м.кв.
							.flex-start.margin-v-20.flex-space.flex-vertical
								.wrapeer
									img.project__img(src="images/projects/set-square.png", alt="blueprint")
									span.project__spantext Габариты:
								span.project__spannum 7,59 x 6,30
							.flex-start.margin-v-20.flex-space.flex-vertical
								.wrapeer
									img.project__img(src="images/projects/skyscraper.png", alt="blueprint")
									span.project__spantext Жилых комнат:
								span.project__spannum 3
						.projects__img.col-6.fadeInRight.animated.wow
							img.border-shdw(src="images/project-1.jpg", alt="project")
						.project__text.col-6.margin-v-40.padding-v-60.padding-g-60.fadeInLeft.animated.wow
							p Представляем Вашему вниманию готовый проект небольшого одноэтажного дома из бруса. Такой деревянный домик – отличный вызов однотипным многоэтажкам. Преимуществом этого дома из клееного бруса является быстрая возводимость, экологическая чистота и относительная доступность (экономия на отделке).
							.button.button_view-action.projects_btn Заказать полный расчет
						.project__schema.margin-v-40.col-6.flex-space.fadeInRight.animated.wow
							.flex-column
								span.project__schema-span Первый этаж
								img.project__schema-img(src="images/projects/floor-1.svg", alt="project")
							.flex-column
								span.project__schema-span Второй этаж
								img.project__schema-img(src="images/projects/floor-2.svg", alt="project")
				.bgc-grey
					.wrap.padding-v-80
						.projects__item.flex-space.flex-wrap
							.projects__description.col-4.fadeInLeft.animated.wow
								span.project__name Проект № 2
								.margin-v-20.flex-space.flex-vertical
									.wrapeer
										img.project__img(src="images/projects/blueprint.png", alt="blueprint")
										span.project__spantext Площадь:
									sapn.project__spannum 78 м.кв.
								.flex-start.margin-v-20.flex-space.flex-vertical
									.wrapeer
										img.project__img(src="images/projects/set-square.png", alt="blueprint")
										span.project__spantext Габариты:
									span.project__spannum 7 м. x 6,80 м.
								.flex-start.margin-v-20.flex-space.flex-vertical
									.wrapeer
										img.project__img(src="images/projects/skyscraper.png", alt="blueprint")
										span.project__spantext Жилых комнат:
									span.project__spannum 4
							.projects__img.col-6.fadeInRight.animated.wow
								img.border-shdw(src="images/project-2.jpg", alt="project")
							.project__text.col-6.margin-v-40.padding-v-60.padding-g-60.fadeInLeft.animated.wow
								p Прежде всего, стоит заметить, что жилой дом из оцилиндрованного бревна по проекту состоит из 4 изолированных комнат, светлого холла, кухни-столовой, раздельного санузла, ванной, кладовой и хоз комнаты, террасы. Комната для хозяев находится на первом этаже. Гостевая спальня расположена на втором мансардном этаже.
								.button.button_view-action.projects_btn Заказать полный расчет
							.project__schema.margin-v-40.col-6.flex-space.fadeInRight.animated.wow
								.flex-column
									span.project__schema-span Первый этаж
									img.project__schema-img(src="images/projects/floor-1.2.svg", alt="project")
								.flex-column
									span.project__schema-span Второй этаж
									img.project__schema-img(src="images/projects/floor-2.2.svg", alt="project")
				.wrap.padding-v-80
						.projects__item.flex-space.flex-wrap
							.projects__description.col-4.fadeInLeft.animated.wow
								span.project__name Проект № 3
								.margin-v-20.flex-space.flex-vertical
									.wrapeer
										img.project__img(src="images/projects/blueprint.png", alt="blueprint")
										span.project__spantext Площадь:
									sapn.project__spannum 90 м.кв.
								.flex-start.margin-v-20.flex-space.flex-vertical
									.wrapeer
										img.project__img(src="images/projects/set-square.png", alt="blueprint")
										span.project__spantext Габариты:
									span.project__spannum 9.80 м. x 8,30 м.
								.flex-start.margin-v-20.flex-space.flex-vertical
									.wrapeer
										img.project__img(src="images/projects/skyscraper.png", alt="blueprint")
										span.project__spantext Жилых комнат:
									span.project__spannum 6
							.projects__img.col-6.fadeInRight.animated.wow
								img.border-shdw(src="images/project-3.jpg", alt="project")
							.project__text.col-6.margin-v-40.padding-v-60.padding-g-60.fadeInLeft.animated.wow
								p В последнее время все большей популярностью стали пользоваться проекты зимних домов из бруса, ведь в таких домах приятно и комфортно проводить время не только  летом, но и зимой. Специально адаптированные для холодных отечественных условий, проекты зимних домов из бруса способны обеспечить комфортное загородное проживание. 
								.button.button_view-action.projects_btn Заказать полный расчет
							.project__schema.margin-v-40.col-6.flex-space.fadeInRight.animated.wow
								.flex-column
									span.project__schema-span Первый этаж
									img.project__schema-img2(src="images/projects/floor-1.3.svg", alt="project")
								.flex-column
									span.project__schema-span Второй этаж
									img.project__schema-img3(src="images/projects/floor-2.3.svg", alt="project")
			//materials
			.materials.bgc-grey
				.wrap.padding-v-60
					.materials__title
						h1 Используемые материалы
						p Наши клиенты могут выбрать проекты домов из двух видов материалов.
					.materials__item.flex-space.margin-v-60.fadeInLeft.animated.wow
						img.border-shdw(src="images/materials1.jpg", alt="materials1")
						.flex-column.col-5
							span.materials__span Оцилиндрованное бревно
							p В его производстве используются цельные стволы. В процессе оцилиндровки получают идеально ровные бревна одинакового диаметра. Собранные из них дома не требуют наружной отделки, что снижает стоимость строительства.
					.materials__item.flex-space.fadeInRight.animated.wow
						img.border-shdw(src="images/materials2.jpg", alt="materials2")
						.flex-column.col-5
							span.materials__span Все виды бруса
							p В наших проектах используется обычный, профилированный и клееный брус. Первый вариант самый дешевый: он поставляется без дополнительной обработки. Профилированный и клееный брус подвергаются камерной сушке, что снижает усадку коробки.
			//individualProject
			.individualProject
				.wrap.padding-v-60
						h1.h1-center.h1-white Типовые и индивидуальные проекты
						p.p-white Архитекторами s-stroi-nn был создан ряд типовых проектов, которые учитывают потребности большинства людей о комфортном частном жилье. У нас можно заказать недорогой деревянный дом площадью от 38 м.кв. Небольшие одноэтажные постройки чаще всего служат для сезонного проживания. Также мы предлагаем проекты двухэтажных домов большой площади для круглогодичного использования. Они оборудуются всеми коммуникациями и инженерными сетями. Цена деревянного дома определяется не только его площадью и этажностью. На нее влияет конструкция фундамента и сложность архитектуры. Среди типовых предложений Вы найдете проекты с мансардой, гаражом или террасой. Также мы готовы разработать индивидуальное решение, учитывающее все пожелания будущего владельца. Вы можете взять за основу любой проект или заказать расчеты с нуля. Именно так были созданы лучшие деревянные дома нашей компании.
						.text-center
							.button.button_view-reverse.margin-v-20 Нужна консультация
			//portfolio
			.portfolio
				.wrap.padding-v-60
					h1.h1-center Наше портфолио
					p.text-center Некоторые работы выполненные нами за последнее время
					.flex-wrap.flex-space
						img.portfolio__img.border-shdw(src="/images/portfolio/1.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/2.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/7.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/5.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/3.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/4.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/6.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/8.jpg", alt="")
						img.portfolio__img.border-shdw(src="/images/portfolio/9.jpg", alt="")
			//HowWeWorking
			.work.bgc-grey
				.wrap.padding-v-60
					h1.h1-center Как мы работаем
					p.text-center Схема работы с нашей компанией
					.before
					.row.justify-content-between.work__z
						.col
							.circle
								img.work__img(src="/images/HowWeWorking/plan.png", alt="")
							.work__col.text-center
								span.span__bold.margin-v-20.work__span Техническая документация
								p Позвоните нам или заполните форму обратной связи на сайте и укажите, когда вам удобнее перезвонить.
						.col
							.circle
								img.work__img(src="/images/HowWeWorking/wood-cutting.png", alt="")
							.work__col.text-center
								span.span__bold.margin-v-20.work__span Производство
								p Предварительный расчет. Встречаемся и составляем техзадание на проектирование.
						.col
							.circle
								img.work__img(src="/images/HowWeWorking/truck.png", alt="")
							.work__col.text-center
								span.span__bold.margin-v-20.work__span Фундамент
								p Подписание договора с двух сторон и внесение предоплаты за наши услуги.
					.after
					.before
					.row.justify-content-between.work__z
						.col
							.circle
								img.work__img(src="/images/HowWeWorking/screw.png", alt="")
							.work__col.text-center
								span.span__bold.margin-v-20.work__span Сборка и монтаж дома
								p Разработка генплана участка, проекта дома и других необходимых документов.
						.col
							.circle
								img.work__img(src="/images/HowWeWorking/pipe.png", alt="")
							.work__col.text-center
								span.span__bold.margin-v-20.work__span Инженерные системы
								p Планировка участка, возведение фундамента, строительство дома.
						.col
							.circle
								img.work__img(src="/images/HowWeWorking/tools.png", alt="")
							.work__col.text-center
								span.span__bold.margin-v-20.work__span Отделка
								p Подписание акта приема-передачи выполненных работ и новоселье!
					.after2
					.row.justify-content-start.mt-4.work__z
						.col-4
							.circle
								img.work__img(src="/images/HowWeWorking/key.png", alt="")
							.work__col.text-center
								span.span__bold.margin-v-20.work__span Эксплуатация дома
								p Подписание акта приема-передачи выполненных работ и новоселье!

					
		// footer
		.body__footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'main.js', 'slick.min.js', 'form.js'])